<center><TABLE border=0><TBODY>
    <TD bgcolor="#F4F4F4">
      <table>
        <tr bgcolor="#003466" class="style10">
          <td><span class="style6"><span class="style1  style16 style18">
            </span></span>

            <div align="center">
              <table width="558">
                <tr>
                  <td width="404" bgcolor="#C5CAD9" class="style10">
                    <div align="left">

                      <% if @global_table %>
                        <table border="0" id="type_report_performance">
                      <% else %>
                          <table border="0" id="type_report_performance" style="display: none;">
                        <% end %>
                          <tr>
                            <td width="32"><span class="style1 style10">Daily:</span></td>
                            <td width="96">
                              <input name="datereport" id="datereport" type="text" class="style10" onClick="this.value=formatDate(d,'y-MM-dd');cal.select(this,'datereport','yyyy-MM-dd'); return false;">
                            </td>
                            <td width="66"><span class="style10">Last_Week:</span></td>
                            <td width="20"><input name="typereport" id="typereport" type="radio" class="style10" value="LastWeek" onclick="this.form.datereport.value='';this.form.submit()"></td>
                            <td width="88"><span class="style10">Current_month:</span></td>
                            <td width="20"><input name="typereport" id="typereport" type="radio" class="style10" value="CurrentMonth" onclick="this.form.datereport.value='';this.form.submit()"></td>
                            <td width="68" class="style10">Last_Month:</td>
                            <td width="66"><input name="typereport" id="typereport" type="radio" class="style10" value="LastMonth" onclick="this.form.datereport.value='';this.form.submit()"></td>
                            <td><input type="submit" name="Submit" value="GetGraph" class="style10"></td>
                          </tr>
                        </table>
                        <% if @capacity_table and !@global_table %>
                          <table border="0" id="type_report_capacity">
                        <% else %>
                            <table border="0" id="type_report_capacity" style="display: none;">
                          <% end %>
                            <tr>
                              <td>
                                <span class="style10">Zone:</span><select name="GetZone" id="GetZone" class="style10" onchange="this.form.submit();">
                                  <% for zone in @zones %>
                                    <option value="<%= zone.db_zone_number %>" ><%=zone.showname %></option>
                                <% end %>
                                </select>
                              </td>
                              <td><span class="style10">12_Months_:</span></td>
                              <td><input name="typereportcap" id="typereportcap" type="radio" value="12Months" class="style10" onclick="this.form.submit();" checked></td>
                              <td><span class="style10">Max_Data_:</span></td>
                              <td><input name="typereportcap" id="typereportcap" type="radio" value="MaxData" class="style10" onclick="this.form.submit();"></td>
                              <td><input type="button" name="Capacity_Graph" value="GetGraph" onclick="submit_capacity_graph()" class="style10"></td>
                              <td><input type="button" name="ExceptionPage" value="GetExceptions" onclick="submit_exception_page()" class="style10"></td>
                              <td><input type="button" name="AllExceptionPage" id= "AllExceptionPage" value="SelectAll" onclick="selectAllServers(this);submit_exception_page()" class="style10"></td>
                            </tr>
                          </table>

                          <table border="0" id="type_report_system" style="display: none;">
                            <tr>
                              <td></td>
                            </tr>
                          </table>
                          <table border="0" id="storage_capacity" style="display: none;">
                            <tr>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td><input type="button" name="GetGraph" value="GetGraph" onclick="submit_storage_graph()" class="style10"></td>
                              <td><input type="button" name="GetMTF" value="GetMonthsToFill" onclick="submit_storage_mtf()" class="style10"></td>
                              <td><input type="button" name="GetMTF" value="SelectAll" onclick="selectAllServers(this);submit_storage_mtf()" class="style10"></td>
                              <td></td>
                              <td></td>
                            </tr>
                          </table>

                          <table border="0" id="storage_performance" style="display: none;">
                            <tr>
                              <td width="66"><span class="style10">Last_Week:</span></td>
                              <td width="20"><input name="typereportp" id="typereportp" type="radio" class="style10" value="LastWeek" onclick="this.form.datereport.value='';this.form.submit()" checked></td>
                              <td width="88"><span class="style10">Current_month:</span></td>
                              <td width="20"><input name="typereportp" id="typereportp" type="radio" class="style10" value="CurrentMonth" onclick="this.form.datereport.value='';this.form.submit()"></td>
                              <td width="68" class="style10">Last_Month:</td>
                              <td width="66"><input name="typereportp" id="typereportp" type="radio" class="style10" value="LastMonth" onclick="this.form.datereport.value='';this.form.submit()"></td>
                              <td><input type="submit" name="Submit" value="Get Graph" class="style10"></td>
                            </tr>
                          </table>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td height="364" bgcolor="#FFFFFF"><DIV class="highlightOn" id=ServicesList>
                          <div align="center"><SPAN id=getting_results
                              style="DISPLAY: none; COLOR: red"> wait, working on it....</SPAN></div>
                          <iframe src="" name="iframe" width="720" height="418"></iframe>

                        </DIV>
                      </td>

                    </tr>
                    <tr>
                      <td bgcolor="#C5CAD9"><table width="669" border="0" bordercolor="#FFFFFF">
                          <% if @global_table %>
                            <tr id="performance_metrics">
                          <% else %>
                              <tr id="performance_metrics" style="display: none;">
                            <% end %>
                              <% @first = true; %>
                              <% for metric in @metrics %>
                                <td class="style10"><%= metric.showname %></td><td class="style10"><% if @first %><input name="<%= metric.name %>" id="<%= metric.name %>" type="checkbox" class="style10" onclick="this.form.submit();" checked >
                                  <% @first = false %>
                              <% else %>
                                  <input name="<%= metric.name %>" id="<%= metric.name %>" type="checkbox" class="style10" onclick="this.form.submit();">
                              <% end %>
                              </td>
                            <% end %>
                            </tr>
                            <% if @capacity_table and !@global_table %>
                              <tr id="capacity_metrics" style="display: block;">
                            <% else %>
                                <tr id="capacity_metrics" style="display: none;">
                              <% end %>
                                <td class="style10">Cpu_Usage_Forecast<input name="metric" id="mectric" type="radio" value="CpuForecast" class="style10" onclick="this.form.submit();" checked></td>
                                <td class="style10">Cpu_Usage<input name="metric" id="mectric" type="radio" value="CpuUsage" class="style10" onclick="this.form.submit();"></td>
                                <td class="style10">Mem_Usage_Forecast<input name="metric" id="mectric" type="radio" value="MemForecast" class="style10" onclick="this.form.submit();"></td>
                                <td class="style10">Mem_Usage<input name="metric" id="mectric" type="radio" value="MemUsage" class="style10" onclick="this.form.submit();"></td>
                                <td class="style10">Paging<input name="metric" id="mectric" type="radio" value="Paging" class="style10" onclick="this.form.submit();"></td>
                                <td class="style10">I/O<input name="metric" id="mectric" type="radio" value="Iometric" class="style10" onclick="this.form.submit();"></td>
                                <td class="style10">SwapSpace<input name="metric" id="mectric" type="radio" value="SwapSpace" class="style10" onclick="this.form.submit();"></td>
                              </tr>

                              <tr id="storage_metrics" style="display: none;">
                                <td class="style10">Storage_Forecast<input name="storage_metric" id="storage_mectric" type="radio" value="forecast" class="style10" onclick="submit_storage_graph_drop_list();" checked></td>
                                <td class="style10">Storage_Usage_Mb<input name="storage_metric" id="storage_metric" type="radio" value="mbusage" class="style10" onclick="submit_storage_graph_drop_list();"></td>
                                <td class="style10">Storage_Usage_Pct<input name="storage_metric" id="storage_metric" type="radio" value="pctusage" class="style10" onclick="submit_storage_graph_drop_list();"></td>
                              </tr>

                              <tr id="storage_perf_metrics" style="display: none;">
                                <td class="style10">Mb Graphs<input name="storage_perf_metric" id="storage_perf_mectric" type="radio" value="mbgraph" class="style10" onclick="this.form.submit();" checked></td>
                                <td class="style10">Pct Graphs<input name="storage_perf_metric" id="storage_perf_metric" type="radio" value="pctgraph" class="style10" onclick="this.form.submit();"></td>
                              </tr>

                              <tr id="system_metrics" style="display: none;">
                                <td>&nbsp; </td>
                                <!-- <td>System Information for </td>
                            <td>Server</td>
                            <td> Name</td>
                            <td>Name 1</td>-->
                              </tr>
                          </table></td>
                        </tr>
                      </table>
                  </div></td>
                </form>
                <SCRIPT language=javascript type=text/javascript>
document.GetGraph.datereport.value = this.value=formatDate(d,'yyyy-MM-dd');
document.GetGraph.submit();

                </script>
              </tr>
            </table>
          </TD>
        </TR>
        <TR>
          <TD bgcolor="#FFFFFF">
            <DIV id=footer>
              <div align="center">
                <TABLE width="413" border=0 cellPadding=0 cellSpacing=0 class="footer">
                  <TBODY>
                  <TR>
                    <TD width="379" align=middle class=footer><div align="center"><A
                          href="http://www.hp.com/" class="footer">HP.com</A>&nbsp;&nbsp;|&nbsp;&nbsp;<A
                          class=footer
                          href="#">Privacy Policy</A>&nbsp;&nbsp;|&nbsp;&nbsp;<A
                          href="http://h30067.www3.hp.com/login.asp?action=logout&amp;navcon_id=&amp;redirectCount=0#">Terms of Use</A> &nbsp;&nbsp;|&nbsp;&nbsp;<A
                          href="#">Site Feedback</A></div></TD>
                  </TR>
                  <TR>
                    <TD align=middle class=footer><div align="center">&#169 1994 - <%= Time.now.year %> Hewlett-Packard Company</div></TD>
                  </TR>
                  </TBODY>
                </TABLE>
              </div>
      </DIV></TD></TR></TBODY></TABLE>
    </center>

