<%= semantic_form_for [:admin, @user] do |f| %>
  <%= f.inputs :name %>
  <%= f.inputs :roles %>
  <%= f.inputs :password %>
  <%= f.inputs :password_confirmation %>

  <%= f.actions do %>
    <%= f.action :submit %>
    <li class="cancel"><%= link_to "Cancel", admin_users_path %></li>
  <% end %>
<% end %>
